USE [QLCamDo]
GO
/****** Object:  UserDefinedTableType [dbo].[AssetEntry]    Script Date: 12/05/2026 4:28:39 SA ******/
CREATE TYPE [dbo].[AssetEntry] AS TABLE(
	[TenTaiSan] [nvarchar](200) NULL,
	[MoTaTS] [nvarchar](500) NULL,
	[GiaTriDinhGia] [decimal](18, 0) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract] (@ContractID INT, @TargetDate DATE)
RETURNS DECIMAL(18,0)
AS
BEGIN
    DECLARE @TongNoThucTe DECIMAL(18,0);
    DECLARE @TongDaTra DECIMAL(18,0);

    -- 1. Tính tổng nợ phát sinh đến ngày TargetDate bằng hàm đã viết ở trên [cite: 31]
    SET @TongNoThucTe = dbo.fn_CalcMoneyTransaction(@ContractID, @TargetDate);

    -- 2. Tính tổng số tiền khách đã trả (lấy từ bảng Log/LichSuGiaoDich) [cite: 51, 52]
    SELECT @TongDaTra = ISNULL(SUM(SoTienTra), 0) 
    FROM LichSuGiaoDich 
    WHERE HopDongID = @ContractID AND NgayGiaoDich <= @TargetDate;

    -- 3. Số tiền còn lại phải trả [cite: 31]
    RETURN @TongNoThucTe - @TongDaTra;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction] (@ContractID INT, @TargetDate DATE)
RETURNS DECIMAL(18,0)
AS
BEGIN
    DECLARE @SoTienVay DECIMAL(18,0);
    DECLARE @NgayVay DATE;
    DECLARE @D1 DATE;
    DECLARE @TongTien DECIMAL(18,0);
    DECLARE @LaiSuatNgay FLOAT = 0.005; -- 5.000 / 1.000.000 

    -- Lấy thông tin gốc từ hợp đồng [cite: 28]
    SELECT @SoTienVay = SoTienVay, @NgayVay = NgayVay, @D1 = Deadline1 
    FROM HopDong WHERE HopDongID = @ContractID;

    -- Nếu ngày tính toán trước ngày vay, tiền bằng 0
    IF @TargetDate < @NgayVay RETURN 0;

    -- TRƯỜNG HỢP 1: Tính lãi đơn (Từ ngày vay đến khi tới Deadline 1 hoặc TargetDate) 
    IF @TargetDate <= @D1
    BEGIN
        SET @TongTien = @SoTienVay + (@SoTienVay * @LaiSuatNgay * DATEDIFF(DAY, @NgayVay, @TargetDate));
    END
    -- TRƯỜNG HỢP 2: Tính lãi kép (Sau Deadline 1) [cite: 12, 32]
    ELSE
    BEGIN
        -- Tính tổng nợ tại mốc Deadline 1 (Gốc + Lãi đơn tích lũy) [cite: 12]
        DECLARE @NoTaiD1 DECIMAL(18,0) = @SoTienVay + (@SoTienVay * @LaiSuatNgay * DATEDIFF(DAY, @NgayVay, @D1));
        DECLARE @SoNgayQuaHan INT = DATEDIFF(DAY, @D1, @TargetDate);
        
        -- Công thức lãi kép: A = P * (1 + r)^n 
        SET @TongTien = @NoTaiD1 * POWER(1 + @LaiSuatNgay, @SoNgayQuaHan);
    END

    RETURN @TongTien;
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[SoTienVay] [decimal](18, 0) NOT NULL,
	[NgayVay] [date] NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong_TaiSan]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong_TaiSan](
	[HopDongID] [int] NOT NULL,
	[TaiSanID] [int] NOT NULL,
	[GiaTriDinhGia] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC,
	[TaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[CMND] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaoDich]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaoDich](
	[GiaoDichID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[SoTienTra] [decimal](18, 0) NOT NULL,
	[SoTienConNo] [decimal](18, 0) NULL,
	[LoaiGiaoDich] [nvarchar](50) NULL,
	[NguoiThu] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GiaoDichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 4:28:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[TaiSanID] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([HopDongID], [KhachHangID], [SoTienVay], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu]) VALUES (1, 1, CAST(40000000 AS Decimal(18, 0)), CAST(N'2026-05-12' AS Date), CAST(N'2026-05-11' AS Date), CAST(N'2026-07-12' AS Date), N'Đã thanh lý', NULL)
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
INSERT [dbo].[HopDong_TaiSan] ([HopDongID], [TaiSanID], [GiaTriDinhGia]) VALUES (1, 1, CAST(60000000 AS Decimal(18, 0)))
INSERT [dbo].[HopDong_TaiSan] ([HopDongID], [TaiSanID], [GiaTriDinhGia]) VALUES (1, 2, CAST(25000000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [CMND], [DiaChi], [NgayTao]) VALUES (1, N'Nguyễn Văn A', N'0912345678', N'012345678901', N'Thái Nguyên', CAST(N'2026-05-12T03:52:26.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuGiaoDich] ON 

INSERT [dbo].[LichSuGiaoDich] ([GiaoDichID], [HopDongID], [NgayGiaoDich], [SoTienTra], [SoTienConNo], [LoaiGiaoDich], [NguoiThu], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-12T04:09:33.303' AS DateTime), CAST(15000000 AS Decimal(18, 0)), CAST(25000000 AS Decimal(18, 0)), N'Khách trả nợ', N'Kiên', NULL)
SET IDENTITY_INSERT [dbo].[LichSuGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([TaiSanID], [TenTaiSan], [MoTa], [TrangThai]) VALUES (1, N'Xe Honda SH', N'Màu trắng, biển 20L1', N'Đã bán thanh lý')
INSERT [dbo].[TaiSan] ([TaiSanID], [TenTaiSan], [MoTa], [TrangThai]) VALUES (2, N'iPhone 15 Pro Max', N'Titan tự nhiên', N'Đã bán thanh lý')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__F67C8D0BB0041498]    Script Date: 12/05/2026 4:28:40 SA ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuGiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[HopDong_TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_HDTS_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[HopDong_TaiSan] CHECK CONSTRAINT [FK_HDTS_HopDong]
GO
ALTER TABLE [dbo].[HopDong_TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_HDTS_TaiSan] FOREIGN KEY([TaiSanID])
REFERENCES [dbo].[TaiSan] ([TaiSanID])
GO
ALTER TABLE [dbo].[HopDong_TaiSan] CHECK CONSTRAINT [FK_HDTS_TaiSan]
GO
ALTER TABLE [dbo].[LichSuGiaoDich]  WITH CHECK ADD  CONSTRAINT [FK_Log_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDong] ([HopDongID])
GO
ALTER TABLE [dbo].[LichSuGiaoDich] CHECK CONSTRAINT [FK_Log_HopDong]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessRepayment]    Script Date: 12/05/2026 4:28:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ProcessRepayment]
    @ContractID INT,
    @AmountPaid DECIMAL(18,0),
    @StaffName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TotalDebt DECIMAL(18,0);
    DECLARE @RemainingDebt DECIMAL(18,0);
    DECLARE @ContractStatus NVARCHAR(50);

    -- 1. Kiểm tra nếu hợp đồng đã bị thanh lý tài sản
    SELECT @ContractStatus = TrangThai FROM HopDong WHERE HopDongID = @ContractID;
    
    IF @ContractStatus = N'Đã thanh lý'
    BEGIN
        PRINT N'Thông báo: Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.';
        RETURN;
    END

    -- 2. Tính tổng nợ hiện tại (Gốc + Lãi) bằng Function ở Event 2
    SET @TotalDebt = dbo.fn_CalcMoneyContract(@ContractID, GETDATE());
    SET @RemainingDebt = @TotalDebt - @AmountPaid;

    -- 3. Ghi nhận vào Nhật ký giao dịch (Log)
    INSERT INTO LichSuGiaoDich (HopDongID, NgayGiaoDich, SoTienTra, SoTienConNo, LoaiGiaoDich, NguoiThu)
    VALUES (@ContractID, GETDATE(), @AmountPaid, @RemainingDebt, N'Khách trả nợ', @StaffName);

    -- 4. Cập nhật trạng thái hợp đồng và tài sản
    IF @RemainingDebt <= 0
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE HopDongID = @ContractID;
        
        -- Nếu trả hết tiền thì cập nhật trạng thái tài sản thành "Đã trả khách"
        UPDATE TaiSan SET TrangThai = N'Đã trả khách' 
        WHERE TaiSanID IN (SELECT TaiSanID FROM HopDong_TaiSan WHERE HopDongID = @ContractID);
        
        PRINT N'Kết quả: Hợp đồng đã tất toán. Đã trả lại toàn bộ tài sản.';
    END
    ELSE
    BEGIN
        UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE HopDongID = @ContractID;
        
        -- 5. Gợi ý trả tài sản dựa trên điều kiện: Giá trị đồ còn lại >= Dư nợ còn lại
        PRINT N'Số tiền còn nợ sau giao dịch: ' + CAST(@RemainingDebt AS NVARCHAR(20));
        PRINT N'Gợi ý các tài sản có thể trả lại ngay cho khách:';
        
        SELECT TS.TenTaiSan, HT.GiaTriDinhGia
        FROM TaiSan TS
        JOIN HopDong_TaiSan HT ON TS.TaiSanID = HT.TaiSanID
        WHERE HT.HopDongID = @ContractID 
          AND TS.TrangThai = N'Đang cầm cố'
          AND (
            (SELECT SUM(GiaTriDinhGia) FROM HopDong_TaiSan WHERE HopDongID = @ContractID AND TaiSanID IN 
                (SELECT TaiSanID FROM TaiSan WHERE TrangThai = N'Đang cầm cố')) 
            - HT.GiaTriDinhGia >= @RemainingDebt
          );
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterNewContract]    Script Date: 12/05/2026 4:28:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- B. STORE PROCEDURE TIẾP NHẬN HỢP ĐỒNG
CREATE   PROCEDURE [dbo].[sp_RegisterNewContract]
    @HoTen NVARCHAR(100),
    @SoDienThoai VARCHAR(15),
    @CMND VARCHAR(20),
    @DiaChi NVARCHAR(200),
    @SoTienVayGoc DECIMAL(18,0),
    @Deadline1 DATE,
    @Deadline2 DATE,
    @DanhSachTaiSan AssetEntry READONLY
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaKH INT, @MaHD INT;

    BEGIN TRY
        BEGIN TRANSACTION;
        -- 1. Xử lý Khách hàng
        SELECT @MaKH = KhachHangID FROM KhachHang WHERE CMND = @CMND;
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (HoTen, SoDienThoai, CMND, DiaChi)
            VALUES (@HoTen, @SoDienThoai, @CMND, @DiaChi);
            SET @MaKH = SCOPE_IDENTITY();
        END

        -- 2. Tạo Hợp đồng mới [cite: 28]
        INSERT INTO HopDong (KhachHangID, SoTienVay, NgayVay, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH, @SoTienVayGoc, GETDATE(), @Deadline1, @Deadline2, N'Đang vay');
        SET @MaHD = SCOPE_IDENTITY();

        -- 3. Xử lý danh sách Tài sản (Dùng Cursor để lấy từng dòng từ biến bảng)
        DECLARE @TenTS NVARCHAR(200), @MoTa NVARCHAR(500), @GiaTri DECIMAL(18,0);
        DECLARE @CurrentTSID INT;

        DECLARE db_cursor CURSOR FOR SELECT TenTaiSan, MoTaTS, GiaTriDinhGia FROM @DanhSachTaiSan;
        OPEN db_cursor;
        FETCH NEXT FROM db_cursor INTO @TenTS, @MoTa, @GiaTri;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Chèn vào bảng TaiSan
            INSERT INTO TaiSan (TenTaiSan, MoTa, TrangThai) VALUES (@TenTS, @MoTa, N'Đang cầm cố');
            SET @CurrentTSID = SCOPE_IDENTITY(); -- Lấy ID tài sản vừa tạo ngay lập tức

            -- Chèn vào bảng trung gian (Tránh lỗi Primary Key trùng ID)
            INSERT INTO HopDong_TaiSan (HopDongID, TaiSanID, GiaTriDinhGia)
            VALUES (@MaHD, @CurrentTSID, @GiaTri);

            FETCH NEXT FROM db_cursor INTO @TenTS, @MoTa, @GiaTri;
        END

        CLOSE db_cursor;
        DEALLOCATE db_cursor;

        COMMIT TRANSACTION;
        PRINT N'Đăng ký hợp đồng và tài sản thành công!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @Err NVARCHAR(MAX) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END;
GO
/****** Object:  Trigger [dbo].[trg_AutoFinalizeAsset]    Script Date: 12/05/2026 4:28:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_AutoFinalizeAsset]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    -- Nếu trạng thái Hợp đồng chuyển sang "Đã thanh lý"
    IF EXISTS (SELECT 1 FROM inserted WHERE TrangThai = N'Đã thanh lý')
    BEGIN
        UPDATE TaiSan
        SET TrangThai = N'Đã bán thanh lý'
        WHERE TaiSanID IN (
            SELECT TaiSanID 
            FROM HopDong_TaiSan 
            WHERE HopDongID IN (SELECT HopDongID FROM inserted WHERE TrangThai = N'Đã thanh lý')
        );
    END
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoFinalizeAsset]
GO
/****** Object:  Trigger [dbo].[trg_AutoOverdueContract]    Script Date: 12/05/2026 4:28:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_AutoOverdueContract]
ON [dbo].[HopDong]
AFTER UPDATE, INSERT
AS
BEGIN
    -- Chuyển từ "Đang vay" hoặc "Đang trả góp" sang "Quá hạn (nợ xấu)" nếu quá Deadline 1
    UPDATE HopDong
    SET TrangThai = N'Quá hạn (nợ xấu)'
    FROM HopDong
    INNER JOIN inserted i ON HopDong.HopDongID = i.HopDongID
    WHERE GETDATE() > HopDong.Deadline1 
      AND HopDong.TrangThai IN (N'Đang vay', N'Đang trả góp');
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoOverdueContract]
GO
/****** Object:  Trigger [dbo].[trg_AutoReadyToSell]    Script Date: 12/05/2026 4:28:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_AutoReadyToSell]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Nếu Hợp đồng quá Deadline 2, chuyển tài sản liên quan sang "Sẵn sàng thanh lý"
    UPDATE TaiSan
    SET TrangThai = N'Sẵn sàng thanh lý'
    WHERE TaiSanID IN (
        SELECT HTS.TaiSanID  -- Đã sửa: Lấy trực tiếp từ HTS
        FROM HopDong_TaiSan HTS
        JOIN HopDong HD ON HTS.HopDongID = HD.HopDongID
        INNER JOIN inserted i ON HD.HopDongID = i.HopDongID
        WHERE GETDATE() > HD.Deadline2 
          AND HD.TrangThai = N'Quá hạn (nợ xấu)'
    ) 
    AND TaiSan.TrangThai = N'Đang cầm cố';
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_AutoReadyToSell]
GO
